@font-face {
  font-family: 'Lato';
  src: local(Lato), url(assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: local(Lato), url(assets/fonts/Lato-Bold.ttf);
}

* {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 320px) and (max-width: 767px) {
  #top_wrapper {
    min-width: 375px;
  }

  #top_wrapper header {
    position: relative;

    height: 65px;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    justify-content: center;
    background-color: #2d303a;
    box-shadow: 0px 6px 0px 0px #323746;
  }

  #top_wrapper header .alternative_menu {
    position: absolute;
    left: 20px;
    top: 26px;
  }

  #top_wrapper header .alternative_menu img {
    position: absolute;
    z-index: 30;

    cursor: pointer;
  }

  #top_wrapper header .alternative_menu.menu_clicked menu {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 25;

    height: 100vh;
    width: 100%;
    padding-top: 205px;

    display: block;
    background: linear-gradient(
      to right,
      #2d303a 74.1%,
      rgba(0, 0, 0, 0.4) 74.1%
    );
  }

  #top_wrapper header .alternative_menu.menu_clicked h1 {
    position: absolute;
    top: 0px;
    left: 62px;
    z-index: 31;

    display: block;
  }

  #top_wrapper header .alternative_menu.menu_clicked img {
    transform: rotate(90deg);
  }

  #top_wrapper header .alternative_menu.menu_clicked menu div {
    padding-top: 28px;
  }

  header .alternative_menu.menu_clicked menu .selected a {
    color: #f06c64;
  }

  header .alternative_menu.menu_clicked menu a {
    margin: 0px 27px;
    padding-left: 44px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    color: #ffffff;
    flex: none;
    order: 0;
    align-self: center;
    text-decoration: none;
  }

  header h1 {
    padding: 25px 0px 0px 10px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 19.6875px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #ffffff;
  }

  header h1 .red {
    color: #f06c64;
  }

  #top_wrapper header menu {
    display: none;
  }

  #top_wrapper header menu div {
    padding-top: 44px;

    font-size: 12px;
    line-height: 6px;
  }

  #top_wrapper header menu div {
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 700;
    text-align: left;
    cursor: pointer;
  }

  #top_wrapper header menu div a {
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 700;
    text-align: left;
    cursor: pointer;
  }

  #top_wrapper header menu div.selected a {
    color: #f06c64;
  }

  .slider {
    position: relative;

    height: 214px;
    margin-top: 6px;
    padding: 0px 40px;

    background-color: #f06c64;
    box-shadow: 0px 6px 0px 0px #ea676b;
  }

  .slider div.slide {
    margin-left: -40px;

    opacity: 0;
    transition: opacity 1s;
  }

  .slider div.current_slide {
    opacity: 1;
  }

  .slider div.slide img {
    max-width: 100%;
  }

  .slider .left {
    position: absolute;
    left: 2.5%;
    top: 45.5%;
    z-index: 5;
  }

  .slider .left:hover {
    cursor: pointer;
  }

  .slider .vertical {
    position: relative;
    z-index: 5;
  }

  .slider .vertical .phone {
    position: absolute;
    left: 12%;
    top: 20px;

    width: 89px;
    height: 177px;

    border-radius: 5px;
  }

  .slider .vertical .image {
    display: none;
  }

  .slider .vertical .image.display {
    position: absolute;
    left: 13.8%;
    top: 45px;
    z-index: 5;

    width: 68px;
    height: 121px;
    border-radius: 1px;

    display: inherit;
    box-shadow: 0px 0px 0px 1px #acacac;
  }

  .slider .horizontal {
    position: relative;
    z-index: 5;
  }

  .slider .horizontal .phone {
    position: absolute;
    left: 46.4%;
    top: 65px;

    width: 178px;
    height: 88px;
    border-radius: 5px;
  }

  .slider .horizontal .image {
    display: none;
  }

  .slider .horizontal .image.display {
    position: absolute;
    left: 53%;
    top: 71px;
    z-index: 5;

    width: 121px;
    height: 67px;
    border-radius: 1px;

    display: inherit;
    box-shadow: 0px 0px 0px 1px #acacac;
  }

  .slider .right {
    position: absolute;
    right: 2.5%;
    top: 45.5%;
    z-index: 5;
  }

  .slider .right:hover {
    cursor: pointer;
  }

  .services {
    padding: 41px 32px 0px;

    background-color: #f2f2f2;
    box-shadow: 0px -6px 0px 0px #ffffff inset;
  }

  .services h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
  }

  .services .description {
    width: 100%;
    padding-top: 27px;

    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2px;
  }

  .services .privileges {
    height: 714px;
    width: 311px;
    margin: 0px auto;
    padding-top: 29px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .services .privileges .privileges_item {
    width: 300px;
    margin-bottom: 26.6px;

    display: flex;
  }

  .services .privileges .privileges_item:nth-child(2n) {
    margin-right: 34px;
  }

  .services .privileges .privileges_item_text {
    padding-left: 20px;
  }

  .services .privileges .privileges_item_text h3 {
    margin-top: -1px;

    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
  }

  .services .privileges .privileges_item_text div {
    width: 220px;
    padding-top: 10px;

    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.1px;
    overflow: hidden;
  }

  #middle_wrapper {
    min-width: 375px;
  }

  .portfolio header {
    padding: 51px 30px 2px;

    background-color: #2d2f39;
  }

  .portfolio header h2 {
    padding-bottom: 28px;

    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato';
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.7px;
  }

  .portfolio header .description {
    width: 98.3%;
    height: 105px;

    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.1px;
  }

  .portfolio header menu {
    padding: 0px 0px 17px 1px;

    display: flex;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
  }

  .portfolio header .menu_buttons {
    height: 22px;
    margin-right: 10px;
    padding: 0px 6.6px;
    border: 1px solid #767e9e;
    border-radius: 5px;

    display: block;
    box-sizing: border-box;
    cursor: pointer;
  }

  .portfolio header .selected {
    border: 1px solid #c5c5c5;

    color: #767e9e;
  }

  .portfolio main {
    height: 541px;
    padding: 1px 12px 59px 25px;

    background-color: #2d2f39;
    box-shadow: 0px -6px 0px 0px #323746 inset;
    overflow: hidden;
  }

  .portfolio main .content {
    max-width: 328px;
    height: 560px;
    margin: 0px auto 53px;
    padding: 5px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-flow: row wrap;
    overflow: hidden;
  }

  .portfolio main .content img {
    width: 151px;
    height: 128px;
    margin: 0px 13px 14px 0px;
  }

  .portfolio main .content img.none {
    display: none;
  }

  .portfolio main .content img.clicked {
    box-shadow: 0px 0px 0px 5px #f06c64;
  }

  .about_us {
    padding: 0px 30px 11px;

    background-color: #f1f1f1;
    box-shadow: 0px -6px 0px 0px #ffffff inset;
  }

  .about_us .about .about_header {
    padding-top: 43px;

    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    text-align: left;
    letter-spacing: 0.1px;
  }

  .about_us .about .about_description {
    width: 100%;
    padding-top: 27px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    letter-spacing: 0.2px;
  }

  .about_us .about .about_persons {
    width: 314px;
    margin: 23px auto 1px;

    display: flex;
    flex-flow: row wrap;
  }

  .about_us .about .about_persons .persons {
    margin-bottom: 28px;
  }

  .about_us .about .about_persons .photo {
    width: 314px;
    height: 314px;
  }

  .about_us .about .about_persons .persons_name {
    width: 319px;
    height: 18px;
    margin-top: 14px;

    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
    overflow: hidden;
  }

  .about_us .about .about_persons .persons_description {
    width: 98.5%;
    margin-top: 3px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767e9e;
    letter-spacing: 0.2px;
  }

  .about_us .about .about_persons .persons_links {
    margin: 10px 0px 0px -1px;
  }

  .about_us .about .about_persons .persons_links img {
    margin-right: 1px;

    cursor: pointer;
  }

  #bottom_wrapper {
    min-width: 375px;
  }

  .quote {
    padding: 0px 30px;

    background-color: #f06c64;
  }

  .quote h1 {
    padding-top: 53px;

    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.3px;
  }

  .quote .description {
    padding-top: 27px;

    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 300;
    letter-spacing: 0.2px;
  }

  .requirements {
    padding: 9px 30px 40px;

    display: flex;
    flex-flow: row wrap;
    background-color: #f06c64;
    box-shadow: 0px 6px 0px 0px #ea676b;
  }

  .requirements form {
    width: 100%;
    margin-top: 14px;
  }

  .requirements form input {
    width: 97.9%;
    height: 38px;
    margin-bottom: 12px;
    padding-left: 7px;
    border-radius: 5px;
    border-style: none;

    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
  }

  .requirements form input:first {
    margin-top: 14px;
    padding-left: 13px;
  }

  .requirements form input::placeholder {
    color: #f48c8f;
  }

  .requirements form textarea {
    width: 97.9%;
    height: 154px;
    padding: 5px 0px 0px 7px;
    border-radius: 5px;
    border-style: none;

    background-color: #d6564f;
  }

  .requirements form button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;

    background: #fbc65f;
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #886a30;
  }

  .requirements form textarea::placeholder {
    color: #f48c8f;
    font-size: 12px;
    line-height: 22px;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.1px;
  }

  .requirements .contact {
    margin-top: 32px;
  }

  .requirements .contact .contact_header {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
  }

  .requirements .contact .contact_description {
    margin-top: 3px;

    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.25px;
    line-height: 1.84;
  }

  .requirements .contact .contact_place {
    margin-top: 14px;
    margin-left: 2px;

    display: flex;
  }

  .requirements .contact .contact_place img {
    width: 8px;
    height: 13px;
    margin-top: 2px;
  }

  .requirements .contact .contact_place span {
    margin-left: 13px;

    display: block;
    font-size: 12px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.25px;
  }

  .requirements .contact .contact_phone {
    display: flex;
  }

  .requirements .contact .contact_phone img {
    width: 12px;
    height: 13px;
    margin-top: 12px;
  }

  .requirements .contact .contact_phone a {
    margin: 10px 0px 0px 10px;

    display: block;
    font-size: 12px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.25px;
  }

  .requirements .contact .contact_mail {
    display: flex;
  }

  .requirements .contact .contact_mail img {
    width: 13px;
    height: 11px;
    margin-top: 14px;
  }

  .requirements .contact .contact_mail a {
    margin: 10px 0px 0px 10px;

    display: block;
    font-size: 12px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.1px;
  }

  footer {
    margin-top: 5px;
    padding: 0px 30px;

    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
  }

  footer .copyright {
    display: none;
  }

  footer .links {
    margin: 21px auto 0px;
  }

  footer .links img {
    margin-left: 1px;

    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1019px) {
  #top_wrapper {
    width: 100%;
  }

  #top_wrapper header {
    height: 89px;
    padding: 0px 40px;

    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
    box-shadow: 0px 6px 0px 0px #323746;
  }

  #top_wrapper header .alternative_menu {
    display: none;
  }

  header h1 {
    padding-top: 41px;

    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.5px;
  }

  header h1 .red {
    color: #f06c64;
  }

  #top_wrapper header menu {
    width: 375px;

    display: flex;
    justify-content: space-between;
  }

  #top_wrapper header menu div {
    padding-top: 44px;

    font-size: 12px;
    line-height: 6px;
  }

  #top_wrapper header menu div {
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 700;
    text-align: left;
    cursor: pointer;
  }

  #top_wrapper header menu div a {
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 700;
    text-align: left;
    cursor: pointer;
  }

  #top_wrapper header menu div.selected a {
    color: #f06c64;
  }

  .slider {
    position: relative;

    height: 445px;
    margin-top: 6px;
    padding: 0px 40px;

    background-color: #f06c64;
    box-shadow: 0px 6px 0px 0px #ea676b;
  }

  .slider div.slide {
    margin-left: -40px;

    opacity: 0;
    transition: opacity 1s;
  }

  .slider div.current_slide {
    opacity: 1;
  }

  .slider div.slide img {
    max-width: 100%;
  }

  .slider .left {
    position: absolute;
    left: 3.8%;
    top: 47.7%;
    z-index: 5;
  }

  .slider .left:hover {
    cursor: pointer;
  }

  .slider .vertical {
    position: relative;
    z-index: 5;
  }

  .slider .vertical .phone {
    position: absolute;
    left: 11.5%;
    top: 40px;

    width: 181px;
    height: 364px;
    border-radius: 5px;
  }

  .slider .vertical .image {
    display: none;
  }

  .slider .vertical .image.display {
    position: absolute;
    left: 13.1%;
    top: 90px;
    z-index: 5;

    width: 140px;
    height: 249px;
    border-radius: 1px;

    display: inherit;
    box-shadow: 0px 0px 0px 3px #acacac;
  }

  .slider .horizontal {
    position: relative;
    z-index: 5;
  }

  .slider .horizontal .phone {
    position: absolute;
    left: 43.8%;
    top: 133px;

    width: 364px;
    height: 181px;
    border-radius: 5px;
  }

  .slider .horizontal .image {
    display: none;
  }

  .slider .horizontal .image.display {
    position: absolute;
    left: 50.1%;
    top: 144px;
    z-index: 5;

    width: 248px;
    height: 140px;
    border-radius: 1px;

    display: inherit;
    box-shadow: 0px 0px 0px 3px #acacac;
  }

  .slider .right {
    position: absolute;
    right: 3.5%;
    top: 47.6%;
    z-index: 5;
  }

  .slider .right:hover {
    cursor: pointer;
  }

  .services {
    padding: 55px 40px 22px;

    background-color: #f2f2f2;
    box-shadow: 0px -6px 0px 0px #ffffff inset;
  }

  .services h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
  }

  .services .description {
    width: 100%;
    padding-top: 27px;

    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2px;
  }

  .services .privileges {
    margin-left: 1px;
    padding-top: 37px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .services .privileges .privileges_item {
    width: 300px;
    margin-bottom: 20px;

    display: flex;
  }

  .services .privileges .privileges_item:nth-child(2n) {
    margin-right: 34px;
  }

  .services .privileges .privileges_item_text {
    padding-left: 20px;
  }

  .services .privileges .privileges_item_text h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
  }

  .services .privileges .privileges_item_text div {
    width: 220px;
    height: 86px;
    padding: 10px 0px;

    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.1px;
    overflow: hidden;
  }

  #middle_wrapper {
    width: 100%;
  }

  .portfolio header {
    padding: 68px 40px 2px;
    background-color: #2d2f39;
  }

  .portfolio header h2 {
    padding-bottom: 28px;

    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato';
    font-weight: 900;
    text-align: left;
    letter-spacing: 1px;
  }

  .portfolio header .description {
    width: 97%;

    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2px;
  }

  .portfolio header menu {
    width: 300px;
    padding: 11px 0px 17px 1px;

    display: flex;
    justify-content: space-around;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
  }

  .portfolio header .menu_buttons {
    height: 22px;
    margin-right: 10px;
    padding: 0px 6.6px;
    border: 1px solid #767e9e;
    border-radius: 5px;

    display: block;
    box-sizing: border-box;
    cursor: pointer;
  }

  .portfolio header .selected {
    border: 1px solid #c5c5c5;

    color: #767e9e;
  }

  .portfolio main {
    padding: 9px 20px 54px 39px;

    background-color: #2d2f39;
    box-shadow: 0px -6px 0px 0px #323746 inset;
  }

  .portfolio main .content {
    width: 709px;
    margin: 0px auto;

    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  .portfolio main .content img {
    width: 216px;
    height: 184px;
    margin: 0px 20px 19.3px 0px;
  }

  .portfolio main .content img.none {
    display: none;
  }

  .portfolio main .content img.clicked {
    box-shadow: 0px 0px 0px 5px #f06c64;
  }

  .about_us {
    padding: 0px 40px 69px;

    background-color: #f1f1f1;
    box-shadow: 0px -6px 0px 0px #ffffff inset;
  }

  .about_us .about .about_header {
    padding-top: 61px;

    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    text-align: left;
    letter-spacing: 0.1px;
  }

  .about_us .about .about_description {
    width: 100%;
    height: 57px;
    padding-top: 27px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    letter-spacing: 0.2px;
  }

  .about_us .about .about_persons {
    margin: 71px 0px 0px 1px;

    display: flex;
    justify-content: space-between;
  }

  .about_us .about .about_persons .photo {
    width: 219px;
    height: 219px;
    margin-right: 15px;
  }

  .about_us .about .about_persons .persons_name {
    width: 219px;
    height: 18px;
    margin-top: 8px;

    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
    overflow: hidden;
  }

  .about_us .about .about_persons .persons_description {
    width: 220px;
    margin-top: 3px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767e9e;
    letter-spacing: 0.2px;
  }

  .about_us .about .about_persons .persons_links {
    margin-top: 9px;
  }

  .about_us .about .about_persons .persons_links img {
    margin-right: 1px;

    cursor: pointer;
  }

  #bottom_wrapper {
    width: 100%;
  }

  .quote {
    padding: 0px 40px 0px 42px;

    background-color: #f06c64;
  }

  .quote h1 {
    padding-top: 62px;

    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.3px;
  }

  .quote .description {
    width: 100%;
    padding-top: 27px;

    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 300;
    letter-spacing: 0.2px;
  }

  .requirements {
    padding: 11px 40px 39px 39px;

    display: flex;
    background-color: #f06c64;
    box-shadow: 0px 6px 0px 0px #ea676b;
  }

  .requirements form {
    margin-top: 14px;
  }

  .requirements form input {
    width: 432px;
    height: 38px;
    margin-bottom: 12px;
    padding-left: 10px;
    border-radius: 5px;
    border-style: none;

    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
  }

  .requirements form input:first {
    margin-top: 14px;
    padding-left: 13px;
  }

  .requirements form input::placeholder {
    color: #f48c8f;
  }

  .requirements form textarea {
    width: 432px;
    height: 154px;
    padding: 5px 0px 0px 10px;
    border-radius: 5px;
    border-style: none;

    background-color: #d6564f;
  }

  .requirements form button {
    width: 136px;
    height: 38px;
    margin-top: 13px;
    border-radius: 5px;
    border-style: none;

    background: #fbc65f;
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #886a30;
  }

  .requirements form textarea::placeholder {
    color: #f48c8f;
    font-size: 12px;
    line-height: 22px;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.1px;
  }

  .requirements .contact {
    margin: 14px 0px 0px 29px;
  }

  .requirements .contact .contact_header {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
  }

  .requirements .contact .contact_description {
    height: 100px;
    margin-top: 3px;

    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.25px;
    line-height: 1.84;
  }

  .requirements .contact .contact_place {
    margin: 43px 0px 0px 2px;
  }

  .requirements .contact .contact_place span {
    margin-left: 10px;

    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.25px;
  }

  .requirements .contact .contact_phone a {
    margin-left: 7px;

    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.25px;
  }

  .requirements .contact .contact_mail {
    margin-top: -1px;
  }

  .requirements .contact .contact_mail a {
    margin-left: 6px;

    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.1px;
  }

  footer {
    width: 100%;
    height: 76px;
    margin-top: 6px;

    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
  }

  footer .copyright {
    margin-top: 1px;
    padding-left: 40px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #666d89;
    letter-spacing: 0.25px;
  }

  footer .links {
    margin-top: 21px;
    padding-right: 40px;
  }

  footer .links img {
    margin-left: 1px;

    cursor: pointer;
  }
}

@media (min-width: 1020px) {
  #top_wrapper {
    width: 1020px;
    margin: 0 auto;
  }

  #top_wrapper header {
    height: 89px;
    padding: 0px 40px;

    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
    box-shadow: 0px 6px 0px 0px #323746;
  }

  #top_wrapper header .alternative_menu {
    display: none;
  }

  header h1 {
    padding-top: 40px;

    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.5px;
  }

  header h1 .red {
    color: #f06c64;
  }

  #top_wrapper header menu {
    width: 375px;

    display: flex;
    justify-content: space-between;
  }

  #top_wrapper header menu div {
    padding-top: 46px;

    font-size: 12px;
    line-height: 6px;
  }

  #top_wrapper header menu div {
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 700;
    text-align: left;
    cursor: pointer;
  }

  #top_wrapper header menu div a {
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 700;
    text-align: left;
    cursor: pointer;
  }

  #top_wrapper header menu div.selected a {
    color: #f06c64;
  }

  .slider {
    position: relative;

    height: 594px;
    margin-top: 6px;
    padding: 0px 40px;

    background-color: #f06c64;
    box-shadow: 0px 6px 0px 0px #ea676b;
  }

  .slider div.slide {
    margin-left: -40px;

    opacity: 0;
    transition: opacity 1s;
  }

  .slider div.current_slide {
    opacity: 1;
  }

  .slider .left {
    position: absolute;
    left: 42px;
    top: 47.3%;
    z-index: 5;
  }

  .slider .left:hover {
    cursor: pointer;
  }

  .slider .vertical {
    position: relative;
    z-index: 5;
  }

  .slider .vertical .phone {
    position: absolute;
    left: 112px;
    top: 54px;

    border-radius: 5px;
  }

  .slider .vertical .image {
    display: none;
  }

  .slider .vertical .image.display {
    position: absolute;
    left: 126px;
    top: 118px;
    z-index: 5;

    width: 188px;
    height: 333px;
    border-radius: 1px;

    display: inherit;
    box-shadow: 0px 0px 0px 3px #acacac;
  }

  .slider .horizontal {
    position: relative;
    z-index: 5;
  }

  .slider .horizontal .phone {
    position: absolute;
    left: 425px;
    top: 177px;

    border-radius: 5px;
  }

  .slider .horizontal .image {
    display: none;
  }

  .slider .horizontal .image.display {
    position: absolute;
    left: 485px;
    top: 188px;
    z-index: 5;

    width: 333px;
    height: 188px;
    border-radius: 1px;

    display: inherit;
    box-shadow: 0px 0px 0px 3px #acacac;
  }

  .slider .right {
    position: absolute;
    right: 40px;
    top: 47.3%;
    z-index: 5;
  }

  .slider .right:hover {
    cursor: pointer;
  }

  .services {
    height: 432px;
    padding: 74px 40px 0px;

    background-color: #f2f2f2;
    box-shadow: 0px -6px 0px 0px #ffffff inset;
  }

  .services h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
  }

  .services .description {
    width: 940px;
    height: 57px;
    padding-top: 27px;

    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2px;
  }

  .services .privileges {
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .services .privileges .privileges_item {
    width: 300px;

    display: flex;
  }

  .services .privileges .privileges_item_text {
    padding-left: 20px;
  }

  .services .privileges .privileges_item_text h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
  }

  .services .privileges .privileges_item_text div {
    width: 220px;
    height: 86px;
    padding: 10px 0px;

    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.1px;
    overflow: hidden;
  }

  .services .privileges .third {
    width: 300px;
    padding-left: 20px;
  }

  #middle_wrapper {
    width: 1020px;
    margin: 0 auto;
  }

  .portfolio header {
    margin: 0px auto;
    padding: 68px 40px 2px;

    background-color: #2d2f39;
  }

  .portfolio header h2 {
    padding-bottom: 28px;

    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato';
    font-weight: 900;
    text-align: left;
    letter-spacing: 1px;
  }

  .portfolio header .description {
    width: 940px;
    height: 40px;

    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2px;
  }

  .portfolio header menu {
    padding: 0px 0px 17px 1px;

    display: flex;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
  }

  .portfolio header .menu_buttons {
    height: 22px;
    margin-right: 10px;
    padding: 0px 6.6px;
    border: 1px solid #767e9e;
    border-radius: 5px;

    display: block;
    box-sizing: border-box;
    cursor: pointer;
  }

  .portfolio header .selected {
    border: 1px solid #c5c5c5;

    color: #767e9e;
  }

  .portfolio main {
    height: 621px;
    padding: 0px 20px 54px 40px;

    background-color: #2d2f39;
    box-shadow: 0px -6px 0px 0px #323746 inset;
  }

  .portfolio main .content {
    max-width: 1020px;
    margin-bottom: 53px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-flow: row wrap;
  }

  .portfolio main .content img {
    width: 220px;
    height: 187px;
    margin: 0px 20px 20px 0px;
  }

  .portfolio main .content img.none {
    display: none;
  }

  .portfolio main .content img.clicked {
    box-shadow: 0px 0px 0px 5px #f06c64;
  }

  .about_us {
    padding: 0px 40px 67px;

    background-color: #f1f1f1;
    box-shadow: 0px -6px 0px 0px #ffffff inset;
  }

  .about_us .about .about_header {
    padding-top: 68px;

    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    text-align: left;
    letter-spacing: 0.1px;
  }

  .about_us .about .about_description {
    width: 940px;
    height: 57px;
    padding-top: 27px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    letter-spacing: 0.2px;
  }

  .about_us .about .about_persons {
    margin-top: 47px;

    display: flex;
    justify-content: space-between;
  }

  .about_us .about .about_persons .photo {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }

  .about_us .about .about_persons .persons_name {
    width: 319px;
    height: 18px;
    margin-top: 13px;

    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
    overflow: hidden;
  }

  .about_us .about .about_persons .persons_description {
    width: 300px;
    margin-top: 10px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767e9e;
    letter-spacing: 0.2px;
  }

  .about_us .about .about_persons .persons_links {
    margin: 21px 0px 0px -1px;
  }

  .about_us .about .about_persons .persons_links img {
    margin-right: 1px;

    cursor: pointer;
  }

  #bottom_wrapper {
    width: 1020px;
    margin: 0 auto;
  }

  .quote {
    padding: 0px 40px;

    background-color: #f06c64;
  }

  .quote h1 {
    padding-top: 68px;

    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.3px;
  }

  .quote .description {
    width: 940px;
    padding-top: 27px;

    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 300;
    letter-spacing: 0.2px;
  }

  .requirements {
    min-height: 445px;
    padding: 30px 40px 0px;

    display: flex;
    background-color: #f06c64;
    box-shadow: 0px 6px 0px 0px #ea676b;
  }

  .requirements form {
    margin-top: 14px;
  }

  .requirements form input {
    width: 605px;
    height: 38px;
    margin-bottom: 16px;
    padding-left: 15px;
    border-radius: 5px;
    border-style: none;

    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
  }

  .requirements form input:first {
    margin-top: 14px;
    padding-left: 13px;
  }

  .requirements form input::placeholder {
    color: #f48c8f;
  }

  .requirements form textarea {
    width: 605px;
    height: 151px;
    padding: 8px 0px 0px 15px;
    border-radius: 5px;
    border-style: none;

    background-color: #d6564f;
  }

  .requirements form button {
    width: 136px;
    height: 38px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;

    background: #fbc65f;
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #886a30;
  }

  .requirements form textarea::placeholder {
    color: #f48c8f;
    font-size: 12px;
    line-height: 22px;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.1px;
  }

  .requirements .contact {
    margin: 14px 0px 0px 20px;
  }

  .requirements .contact .contact_header {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: 'Lato-Bold';
    font-weight: 900;
    text-align: left;
  }

  .requirements .contact .contact_description {
    width: 300px;
    height: 100px;
    margin-top: 10px;

    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.25px;
    line-height: 1.84;
  }

  .requirements .contact .contact_place {
    margin: 10px 0px 0px 2px;
  }

  .requirements .contact .contact_place span {
    margin-left: 10px;

    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.25px;
  }

  .requirements .contact .contact_phone a {
    margin-left: 7px;

    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.25px;
  }

  .requirements .contact .contact_mail {
    margin-top: -1px;
  }

  .requirements .contact .contact_mail a {
    margin-left: 6px;

    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.1px;
  }

  footer {
    width: 940px;
    height: 76px;
    margin-top: 6px;
    padding: 0px 40px;

    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
  }

  footer .copyright {
    margin-top: 1px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #666d89;
    letter-spacing: 0.25px;
  }

  footer .links {
    margin-top: 21px;
  }

  footer .links img {
    margin-left: 1px;

    cursor: pointer;
  }
}
